@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&display=swap');

$header-height: 0px;
$max-canvas-square-size: calc(100vh - #{$header-height});

$min-info-panel-height: 250px;

// $max-canvas-square-size: calc(100%);
// $max-canvas-square-size: 400px;

* {
  // margin: 0px;
  // padding: 0px;
  box-sizing: border-box;
  // overflow-x: hidden;
  // overflow-y: hidden;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

main {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;

  header {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.3);
    margin: 0px;
    padding: 0px;
    // background-color: aqua;
    height: $header-height;
    z-index: 1;
    overflow: visible;

    header * {
      margin: 0px;
      padding: 0px;
      color: white;
    }

    ul {
      li {
        display: inline-block;
        color: white;
        font-size: 20px;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }

  #canvas-container {
    width: 100vw;
    height: 100vw;
    max-height: calc(100vh - #{$header-height} - #{$min-info-panel-height});
    box-sizing: border-box;
  }

  #info-panel * {
    // overflow: scroll;
  }

  #info-panel {
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 100vw);
    min-height: $min-info-panel-height;
    overflow: scroll;
    clear: both;
    position: relative;
    background-color: DarkSlateGrey;

    #info-panel-content {
      // padding: 10px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      transform: translateX(100vw);
      transition: transform 1s ease-in-out;
      background-color: DarkSlateGrey;
      box-sizing: border-box;
      color: white;
      h1 {
        text-align: center;
      }

      .text-image-wrapper {
        display: flex;
        flex-direction: column;
        .text-wrapper {
          flex: 1;
          padding: 0px 10%;
          margin-bottom: 20px;
          p {
            padding: 0px;
            margin: 0px;
            span {
              white-space: normal;
            }
          }
        }
        .image-wrapper {
          position: relative;
          // background-color: orange;
          flex: 1;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          margin-bottom: 10px;
        }
        .image-screen {
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 10%;
          right: 10%;
          padding: 0px 10%;
          background-color: rgba(0, 0, 0, 0.05);
          .goto-site-message {
            visibility: hidden;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            font-size: 50px;
            // font-family: roboto;
            cursor: pointer;
          }
        }
        .image-screen:hover {
          background-color: rgba(0, 0, 0, 0.75);
          .goto-site-message {
            visibility: visible;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 400px) {
  main {
    #info-panel {
      #info-panel-content {
        .text-image-wrapper {
          flex-direction: row;
          .text-wrapper {
            padding: 0px 10px;
          }
          .image-wrapper {
            img {
              max-height: 150px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  main {
    display: flex;
    flex-direction: row;

    #canvas-container {
      flex: 2;
      width: auto;
      height: 100vh;
      max-height: 100vh;
      // background-color: lightgreen;
    }

    #info-panel {
      flex: 1;
      width: auto;
      height: 100vh;
      // background-color: pink;
      #info-panel-content {
        // color: red;
        .text-image-wrapper {
          flex-direction: column;
          .text-wrapper {
            padding: 0px 10%;
          }
          .image-wrapper {
            img {
              max-height: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 950px) {
  main {
    #canvas-container {
      flex: 3;
      // background-color: turquoise;
    }

    #info-panel {
      flex: 2;
      // background-color: violet;
    }
  }
}
